
<!DOCTYPE html>
<html>
    <head>
        <title>Brood Capital</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta property="og:url"           content="http://broodcapital.com/" />
		<meta property="og:type"          content="website" />
		<meta property="og:title"         content="Brood Capital -0nesolo" />
		<meta property="og:description"   content="Influence can't be mandated" />
		<meta property="og:image"         content="http://broodcapital.com/alexander.jpg" />
		
		<link rel="apple-touch-icon" sizes="57x57" href="http://broodcapital.com/alexander.jpg">
		<link rel="apple-touch-icon" sizes="60x60" href="http://broodcapital.com/alexander.jpg">
		<link rel="apple-touch-icon" sizes="72x72" href="http://broodcapital.com/alexander.jpg">
		<link rel="apple-touch-icon" sizes="76x76" href="http://broodcapital.com/alexander.jpg">
		<link rel="apple-touch-icon" sizes="114x114" href="http://broodcapital.com/alexander.jpg">
		<link rel="apple-touch-icon" sizes="120x120" href="http://broodcapital.com/alexander.jpg">
		<link rel="apple-touch-icon" sizes="144x144" href="http://broodcapital.com/alexander.jpg">
		<link rel="apple-touch-icon" sizes="152x152" href="http://broodcapital.com/alexander.jpg">
		<link rel="apple-touch-icon" sizes="180x180" href="http://broodcapital.com/alexander.jpg">
		<link rel="icon" type="image/png" href="http://broodcapital.com/alexander.jpg" sizes="32x32">
		<link rel="icon" type="image/png" href="http://broodcapital.com/alexander.jpg" sizes="230x230">
		<link rel="icon" type="image/png" href="http://broodcapital.com/alexander.jpg" sizes="96x96">
		<link rel="icon" type="image/png" href="http://broodcapital.com/alexander.jpg.png" sizes="192x192">
		<link rel="icon" type="image/png" href="http://broodcapital.com/alexander.jpg" sizes="228x228">
		<link rel="icon" type="image/png" href="http://broodcapital.com/alexander.jpg" sizes="16x16">

    </head>

    <body>
        <section id="HOV"></section>
        <script src="the.goat.js"></script>
    </body>
</html>